In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("completeSpamAssassin.csv")
data2 = pd.read_csv("lingSpam.csv")

In [3]:
data.shape

(6046, 3)

In [4]:
data2.shape

(2605, 3)

In [5]:
data.head()

   Unnamed: 0                                               Body  Label
0           0  \nSave up to 70% on Life Insurance.\nWhy Spend...      1
1           1  1) Fight The Risk of Cancer!\nhttp://www.adcli...      1
2           2  1) Fight The Risk of Cancer!\nhttp://www.adcli...      1
3           3  ##############################################...      1
4           4  I thought you might like these:\n1) Slim Down ...      1

In [6]:
data2.head()

   Unnamed: 0                                               Body  Label
0           0  Subject: great part-time or summer job !\n \n ...      1
1           1  Subject: auto insurance rates too high ?\n \n ...      1
2           2  Subject: do want the best and economical hunti...      1
3           3  Subject: email 57 million people for $ 99\n \n...      1
4           4  Subject: do n't miss these !\n \n attention ! ...      1

In [7]:
data.rename(columns={'Unnamed: 0': 'Index'}, inplace=True)

In [8]:
data.head()

   Index                                               Body  Label
0      0  \nSave up to 70% on Life Insurance.\nWhy Spend...      1
1      1  1) Fight The Risk of Cancer!\nhttp://www.adcli...      1
2      2  1) Fight The Risk of Cancer!\nhttp://www.adcli...      1
3      3  ##############################################...      1
4      4  I thought you might like these:\n1) Slim Down ...      1

In [9]:
data2.rename(columns={'Unnamed: 0': 'Index'}, inplace=True)

In [10]:
data2.head()

   Index                                               Body  Label
0      0  Subject: great part-time or summer job !\n \n ...      1
1      1  Subject: auto insurance rates too high ?\n \n ...      1
2      2  Subject: do want the best and economical hunti...      1
3      3  Subject: email 57 million people for $ 99\n \n...      1
4      4  Subject: do n't miss these !\n \n attention ! ...      1

In [11]:
# Set the 'Index' column as the new index
data.set_index('Index', inplace=True)

# Reset the index to create a new numerical index column
data.reset_index(inplace=True)

data = data[['Index'] + [col for col in data.columns if col != 'Index']]

data.head()

   Index                                               Body  Label
0      0  \nSave up to 70% on Life Insurance.\nWhy Spend...      1
1      1  1) Fight The Risk of Cancer!\nhttp://www.adcli...      1
2      2  1) Fight The Risk of Cancer!\nhttp://www.adcli...      1
3      3  ##############################################...      1
4      4  I thought you might like these:\n1) Slim Down ...      1

In [12]:
# Set the 'Index' column as the new index
data2.set_index('Index', inplace=True)

# Reset the index to create a new numerical index column
data2.reset_index(inplace=True)

data2 = data2[['Index'] + [col for col in data.columns if col != 'Index']]

data2.head()

   Index                                               Body  Label
0      0  Subject: great part-time or summer job !\n \n ...      1
1      1  Subject: auto insurance rates too high ?\n \n ...      1
2      2  Subject: do want the best and economical hunti...      1
3      3  Subject: email 57 million people for $ 99\n \n...      1
4      4  Subject: do n't miss these !\n \n attention ! ...      1

In [13]:
data.isnull().sum()

Index    0
Body     1
Label    0
dtype: int64

In [14]:
data.isnull().any(axis=1)

0       False
1       False
2       False
3       False
4       False
        ...
6041    False
6042    False
6043    False
6044    False
6045    False
Length: 6046, dtype: bool

In [15]:
import numpy as np

data.replace(' ', np.nan, inplace=True)

In [16]:
data.dropna(inplace = True)

In [17]:
data.isnull().sum()

Index    0
Body     0
Label    0
dtype: int64

In [18]:
data2.isnull().sum()

Index    0
Body     0
Label    0
dtype: int64

In [19]:
data.dtypes

Index     int64
Body     object
Label     int64
dtype: object

In [20]:
data2.dtypes

Index     int64
Body     object
Label     int64
dtype: object

In [21]:
data.head()

   Index                                               Body  Label
0      0  \nSave up to 70% on Life Insurance.\nWhy Spend...      1
1      1  1) Fight The Risk of Cancer!\nhttp://www.adcli...      1
2      2  1) Fight The Risk of Cancer!\nhttp://www.adcli...      1
3      3  ##############################################...      1
4      4  I thought you might like these:\n1) Slim Down ...      1

In [22]:
data2.head()

   Index                                               Body  Label
0      0  Subject: great part-time or summer job !\n \n ...      1
1      1  Subject: auto insurance rates too high ?\n \n ...      1
2      2  Subject: do want the best and economical hunti...      1
3      3  Subject: email 57 million people for $ 99\n \n...      1
4      4  Subject: do n't miss these !\n \n attention ! ...      1